/* Practice
You're going to create an HTML component to represent a political candidate. Specifically, the representative of your Congressional district. Visit the GovTrack site link below, enter in your home address, and you'll find basic information about your representative.

GovTrack - Congressional District Map

In your HTML, create an article tag that will serve as your main representative component. Give the element a unique identifier.
In this component, create a sub-component for basic information using the section tag. In this section create elements for the representative's image, name, district info, and political affiliation.
Beneath the basic information, you will create a sub-component, using a section tag, to list any committees the candidate is serving on.
The last component will hold links to any legislation that your representative has enacted.
Make sure you use good BEM-style class names for each element in your components. Put a comment above each component explaining what it is. */

.representative {
    padding-left: 2%;
}
 
.representative_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.representative_info img {
    display: block;
    height: 16%;
    width: 16%;
    padding-bottom: 25px;
}

.representative_info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    width: 25%;
}


.representative_info h3, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.representative_committees {
    border: 1px solid black;
    padding: 1%;
}




